body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4b2828;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

img {
    border-radius: 50%; /* Mengatur gambar menjadi bulat */
    width: 100px; /* Mengatur lebar gambar */
    height: 100px; /* Mengatur tinggi gambar */
}

.contact, .education, .experience, .skills {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.contact:hover, .education:hover, .experience:hover, .skills:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}